# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Fortran module files
*.mod
*.smod

*.tlog
*.log

[Dd]ebug
[Rr]elease
build/
.vs/
/enc_temp_folder
PopcapTools/projects.txt
LawnProject.exe
*.pdb